/*margin é o espaço fora da caixa*/
/*usei margin 0 no inicio, p. zerar o Vo do chorme*/
/*padding é o espaço dentro*/
/*content-box: padrão. calculo do tamanho pelo conteudo*/
/* border-box: calculo do tamanho pela borda*/
/*display: block: forma de caixa*/
/*display: inline: forma de linha*/
/*border dashed solid dotted double...*/

* {margin: 0px;
}
* {box-sizing: border-box;
}

body{
    height: 100 vh;
    margin: 0px;
    background-color: black;
    padding: 40px;
    display: flex; /*para deixar cx1 e cx2 do lado*/
    
}
/*criei o cxf para referenciar no html, testar ver se fica mais fácil*/ 
.cxf{
    display: flex;
}
.cx{
    color:#837E9F;
    background-color: #302F3D;
    padding: 10px;
    margin-bottom: 20px; 
    /*para separar os cx*/
}

.cx1{
   width: 348px; 
   margin-right: 60px; /*reduziu o espaço do cx1 em meia tela*/
    }

.cx11{padding: 32px;
    }
.cx111{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    border: solid greenyellow 2px;
    align-items: center;
    }

.cx111i{
    max-width: 128px;
    max-height: 128px;
    border-radius: 64px;
}

.cx112{font-weight: 600; /*não esta obedecendo meu tamanho de fonte*/
    }
.cx113{font-weight: 300;
}


.cx12{
    padding: 34px 40px;
    }
.ico { /*não to conseguindo editar esses tamanhos */
    max-width: 48px;
    max-height: 24px;
}

.cx13{padding: 30px;
    }
.cx14{padding: 30px 40px;    
    }
.cx15{padding: 30px 40px;
    }

.cx131, .cx132, .cx133 {
    display: flex;
    justify-content: space-between;
}
.cxrosa {
    border-radius: 30px;
    color: #000000;
    background-color: #CB92B1;
    padding: 6px;
    margin: 7.5px;
    width: 86px;
    height: 24px;
    justify-content: center;   
}
.cx2{
    width: 952px;       
}
.cx21{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    
}
.cx221{
    margin-right: 20px;
}
.cx2211{
    display: flex;
}
.cx2213{
    display:flex;
    justify-content: space-between;
}

.cx22{
    display: flex;
    justify-content: space-between;
}

.cx23{
    padding: 30px;
}
.cx24{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.cx2424{
    display: flex;
    justify-content: space-between;
}

.cx{
    border-radius: 20px;
}